::selection {
  background-color: #8ac249;
  color: #fff;
}
::-moz-selection {
  background-color: #8ac249;
  color: #fff;
}
.theme-color{
  color: #8ac249;
}

.section-title h2:after,
.section-title p:after,
.btn-theme,
.theme-bg {
  background: #8ac249;
}